PQCsignKAT_Dilithium2.req
PQCsignKAT_Dilithium2.rsp
PQCsignKAT_Dilithium3.req
PQCsignKAT_Dilithium3.rsp
PQCsignKAT_Dilithium5.req
PQCsignKAT_Dilithium5.rsp
tvecs2
tvecs3
tvecs5
ref/accuracy_vs_N.csv
ref/accuracy_vs_N.png
ref/avg2_all.csv
ref/avg2_valid.csv
ref/avg3_all.csv
ref/avg_fi10000_all.csv
ref/avg_all.csv
ref/avg_invalid.csv
ref/avg_n1000_all.csv
ref/avg_n250_all.csv
ref/avg_n500_all.csv
ref/cs1_log.csv
ref/cs1_log2.csv
ref/cs1_log3.csv
ref/cs1_log_fi10000.csv
ref/cs1_log_n250.csv
ref/cs1_log_n1000.csv
ref/cs1_log_n500.csv
ref/s1_secret.csv
ref/s1_secret1.csv
ref/tiny_log.csv
ref/avg_valid.csv
